/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*Universal styles*/

/*Header*/

.logo-img{
  height: 80px;
}

.logo-text{
  font-family: 'Satisfy', cursive;
  color: #f2767e; /*orange logo color*/
}

/*Hero section*/
.jumbotron{
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.hero-text{
  color: #ffffff;
  font-weight: 300;
}

/*Features*/

.thumbnail{
  background-color: #edf1f4;
  padding: 7px;
}

.product-img{
  padding: 0px 7.5px;
}

/*Footer*/

.bg-foot{
  background-color: #202123;
}

.foot-img{
  height: 100px;
}
